html,
body{
	margin: 10;
	padding: 10;
	height: 100vh;
	width: 100vw;
}

#sean {
	color: yellowgreen;	
	width: 100px;
	height: 100px;
}





#test1 {
	width:100px;
	hight:100px;
	border: 10px;
	border-color: red;
	border-style: dotted;
}

#test2 {
	width:100px;
	hight:100px;
	border: 10px;
	border-color: green;
	border-style: dotted;
}

#test3 {
	width:100px;
	hight:100px;
	border: 10px;
	border-color: blue;
	border-style: dotted;
}



